
/* 
    Created on : Mar 17, 2016, 12:49:26 AM
    Author     : Markus Mulkahainen
*/

body {
    font-family: 'Press Start 2P', cursive, serif;
    margin: 5px;
    background-color: #1229F9;
    margin-right: 10px;
    
    @include breakpoint(tablet) {
        font-size: small;
    }
    
    @include breakpoint(mobile) {
        font-size: x-small;
    }
}

.linkwrapper {
    padding-bottom: 20px;
    padding-top: 20px;
}

.linkbox:first-child {
    border-right: solid 2px white;
    
    @include breakpoint(mobile) {
        border-right: none;
        padding-bottom: 0px;
    }
}

.linkbox:nth-child(2) {
    @include breakpoint(mobile) {
        padding-top: 0px;
    }
}

.responsive-width {
    @include breakpoint(mobile) {
        width: auto !important;
        height: auto !important;
    }
}

#about-dialog p {
    font-size: small;
    
    @include breakpoint(mobile) {
        font-size: x-small;
    }
}

.linkbox {
    display: inline-block;
    width: 300px;
    padding: 40px;
    vertical-align: top;
    
    @include breakpoint(tablet) {
        width: 37%;
        padding: 5%;
    }
    
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.list-row {
    display:inline-block;
}

.list-left {
    width:auto;
    padding:10px;
    float:left;
    border: 2px solid blue;
}

.lightmargin {
    margin: 2px;
}

.list-right {
    padding:10px;
    float:right;
    border:2px solid green;
}

.info-box {
    display: block;
    vertical-align: middle;
    height: 70px;
}

.infotext {
    text-align: center;
    color: #FAFA57;
    margin-top: 30px;
    margin-bottom: 30px;
}

.halfwidth {
    width: 50%;
}

hr {
    margin-top:0px;
}

.textcenter {
    text-align: center;
}

.paddingleft {
    padding-left: 10%;
}

.marginbtm {
    margin-bottom: 40px;
}

.whiteframe {
    border-style: solid;
    border-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration:none;
    color: #FAFA57;
    padding: 3px;
    cursor: pointer;
}

a:active {
    outline: none;
}

#dialog {
    color: white;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

a:hover, a:focus {
    background-color: #AA0000;
    color: white;
    outline: none;
}

a span {
    position: relative;
    top: -4px;
}

.center {
    margin-left: auto;
    margin-right: auto;    
    width: 800px;
    
    @include breakpoint(tablet) {
        width: 100%;
    }
    
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.bodytext {
    color: #FFFFFF;
}

.smalltext {
    font-size: 60%;
}

.hide {
    display: none;
}