
/* 
    Created on : Mar 17, 2016, 12:49:26 AM
    Author     : Markus Mulkahainen
*/

body {
    font-family: 'Press Start 2P', cursive, serif;
    margin: 5px;
    background-color: #1229F9;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding-left: 10%;
}

.tbl td {
    padding-bottom: 20px;
    padding-top: 20px;
}

.tbl td:last-child {
    border-left: solid 2px white;
}

hr {
    margin-top:0px;
}

.textcenter {
    text-align: center;
}

.lightmargin {
    margin: 2px;
}

.hugemargin {
    margin: 50px;
}

.marginbtm {
    margin-bottom: 40px;
}

.whiteframe {
    border-style: solid;
    border-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration:none;
    color: #FAFA57;
    padding: 3px;
}

a:hover, a:focus {
    background-color: #AA0000;
}

.center {
    margin-left: auto;
    margin-right: auto;    
    width: 50%;
}

.bodytext {
    color: #FFFFFF;
}
